 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(245, 247, 250, 0)), url('images/WebsiteBackground.webp');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-group-1 {
  min-height: 119px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 10px rgba(128,128,128,1);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 6px 10px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  box-shadow: 2px 2px 10px 2px rgba(128,128,128,1);
  transition-duration: 0.5s;
  --radius: 50px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 125px auto 0 319px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  box-shadow: 2px 2px 10px 2px rgba(128,128,128,1);
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: none;
  margin: -41px auto 60px 612px;
  padding: 10px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 10px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 230px;
    margin-left: 221px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 507px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
    margin-left: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 163px;
    margin-left: 35px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -49px;
    margin-bottom: 0;
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 195px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-left: auto;
    margin-bottom: 58px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 10px 5px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 10px 5px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 10px 5px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 10px 5px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}