 .u-section-1 {
  min-height: 1006px;
}

.u-section-1 .u-group-1 {
  min-height: 525px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 80px 80px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 73px;
}

.u-section-1 .u-text-2 {
  margin: 30px 66px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-1 .u-image-1 {
  width: 955px;
  height: 550px;
  margin: -148px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 997px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 85px 50px 30px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 414px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 767px;
  }

  .u-section-1 .u-group-1 {
    min-height: 474px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 311px;
    margin-top: -97px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: -98px;
    margin-left: auto;
    margin-right: auto;
  }
}